<!DOCTYPE html>
<html>
<head>
</head>
<body>
	Hello SOOJLE !
	<br>
	====================================
	<br>
	- 이전 수정 기록 날라감.
	<br>
	====================================
	<br>
	2019. 10. 9. [update]interest.py(fav, view) / [update]newsfeed.py(recommendation, popularity, topic(50%))
	<br>
	<br>
	2019. 11. 2. [update]newsfeed.py(get_recommendation_newsfeed / Fas 남음)
	<br>
	<br>
	2019. 11. 3.[update]newsfeed.py(Fas update) [update]global_func.py(measurement 90%)
	<br>
	<br>
	2019. 11. 4.[update]newsfeed.py([refactoring] get_recommendation_newsfeed, get_popularity_newsfeed) [update]global_func.py(measurement 100%)
	<br>
</body>
</html>