<!DOCTYPE html>
<html lang="ko">
<head>
	<title>404 - SOOJLE</title>
	<meta name="author" content="Team IML">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
	<!--Open Graph tag-->
	<meta property="og:title" content="SOOJLE">
	<meta property="og:description" content="세종대학교의 정보를 체계화하여 모두가 편리하게 이용할 수 있도록 합니다.">
	<meta property="og:image" content="/static/image/shortcut_mobile.png">
	<!-- 모바일 브라우저 상태바 컬러 -->
    <meta name="theme-color" content="#fff">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <!-- 모바일 전체화면 가능 -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
	<!-- shortcut 아이콘 -->
	<link rel="icon" type="image/png" href="/static/image/shortcut_mobile.png">
	<link rel="apple-touch-icon-precomposed" type="image/png" href="/static/image/shortcut.png">
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">

	<style type="text/css">html, body {background-color: white;width: 100%;height: 100%;overflow: none;}.error_box {position: relative;width: auto;max-width: 320px;margin: auto;text-align: center;top: 50%;transform: translate(0, -50%);}.error_image{position: relative;display: inline-block;width: 90%;max-width: 320px;height: auto;margin: auto;}.error_message {position: relative;display: inline-block;width: auto;margin-top: 32px;font-size: 40px;text-align: center;}.error_message::selection {background-color: #12b886;color: white;}.return_page {position: relative;width: 100px;height: 40px;background-color: #12b886;color:white;font-size: 20px;line-height: 40px;margin: auto;cursor: pointer;margin-top: 60px;font-weight: bold;}.return_page:hover {opacity: .8;}</style>
</head>
<body>
	<div class="error_box">
		<img class="error_image noselect" src="/static/image/404.png">
		<div class="error_message">막다른 길이에요!</div>
		<div class="return_page noselect" onclick="Go_Home()">돌아가기</div>
	</div>
</body>
<script>function Go_Home(){window.location.replace("/");}</script>
</html>