<!DOCTYPE html>
<html>
<head>
	<title>SOOJLE</title>
	<meta name="author" content="Team IML">
	<meta name="keywords" content="세종,세종대학교,세종정보,세종검색,세종커뮤니티">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
	<!-- 모바일 브라우저 상태바 컬러 -->
    <meta name="theme-color" content="#fff">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <!-- 모바일 전체화면 가능 -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
	<!-- shortcut 아이콘 -->
	<link rel="icon" type="image/png" href="/static/image/shortcut_mobile.png">
	<link rel="apple-touch-icon-precomposed" type="image/png" href="/static/image/shortcut.png">
	<!-- 아이콘 -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
	<!-- Animation CSS -->
	<link href="/static/css/animation/animate.css" rel="stylesheet">
	<!-- Custom CSS -->
	<link href="/static/css/main.css" rel="stylesheet">
	<link href="/static/css/etc.css" rel="stylesheet">
	<link href="/static/css/etc_m.css" rel="stylesheet">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.js" integrity="sha256-qSIshlknROr4J8GMHRlW3fGKrPki733tLq+qeMCR05Q=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js" integrity="sha256-xKeoJ50pzbUGkpQxDYHD7o7hxe0LaOGeguUidbq6vis=" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.css" integrity="sha256-IvM9nJf/b5l2RoebiFno92E5ONttVyaEEsdemDC6iQA=" crossorigin="anonymous" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.js" integrity="sha256-arMsf+3JJK2LoTGqxfnuJPFTU4hAK57MtIPdFpiHXOU=" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" integrity="sha256-aa0xaJgmK/X74WM224KMQeNQC2xYKwlAt08oZqjeF0E=" crossorigin="anonymous" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" integrity="sha256-Uv9BNBucvCPipKQ2NS9wYpJmi8DTOEfTA/nH2aoJALw=" crossorigin="anonymous"></script>
</head>
<body>
</body>

<!-- Test Host JS -->
<script src="/static/js/host.js"></script>
<!-- JQuery JS -->
<script src="/static/js/jquery/jquery.min.js"></script>
<script src="/static/js/jquery/jquery.ajax-cross-origin.min.js"></script>
<!-- Animation JS -->
<script src="/static/js/wow/wow.min.js"></script>
<script>new WOW().init();</script>
<!-- Snackbar JS -->
<script src="/static/js/snackbar.js"></script>
<!-- Ajax JS -->
<script src="/static/js/ajax.js"></script>
<!-- Custom JS -->
<script src="/static/js/etc.js"></script>
</html>