<!DOCTYPE html>
<html>
<head>
	<title>SOOJLE</title>
	<meta name="author" content="Team IML">
	<meta name="keywords" content="세종,세종대학교,세종정보,세종검색,세종커뮤니티">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
	<!--Open Graph tag-->
	<meta property="og:title" content="SOOJLE Introduce">
	<meta property="og:description" content="SOOJLE의 소개">
	<meta property="og:image" content="/static/image/shortcut_black_mobile.png">
	<!-- 모바일 브라우저 상태바 컬러 -->
    <meta name="theme-color" content="#fff">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <!-- 모바일 전체화면 가능 -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
	<!-- shortcut 아이콘 -->
	<link rel="icon" type="image/png" href="/static/image/shortcut_mobile.png">
	<link rel="apple-touch-icon-precomposed" type="image/png" href="/static/image/shortcut.png">
	<!-- 아이콘 -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
	<!-- Animation CSS -->
	<link href="/static/css/animation/animate.css" rel="stylesheet">
	<!-- Custom CSS -->
	<link href="/static/css/main.css" rel="stylesheet">
	<link href="/static/css/etc.css" rel="stylesheet">
	<link href="/static/css/etc_m.css" rel="stylesheet">
</head>
<body>
	<div class="header">
		<img src="./static/image/SOOJLE_LOGO_BIG.png" id="header_img" class="header_img pointer">
	</div>
	<div class="body_cont">
		<div id="body_info" class="body_text pointer">세종대학교의 정보를 체계화하여
모두가 편리하게 이용할 수 있도록 합니다.</div>
	</div>
	<!-- SOOJLE Introduce -->
	<div id="info_cont01" class="info_cont">
		<div class="box_area">
			<h4 class="info_categroy">SOOJLE IDEA. 01</h4>
			<div class="info_title"><span style="color: #c30e2e">정보</span>를 체계화하여<br>편리하게.</div>
			<div class="info_post">세종인들이 관심을 가질만한 정보에 초점을 두고 있습니다. 또한 정보의 잠재적인 의미를 분석 및 통합하여, 학교 전체의 이슈나 관심거리와 같은 흩어진 정보의 흐름을 한 눈에 파악할 수 있습니다.</div>
		</div>
		<div class="box_area">
			<h4 class="info_categroy">SOOJEL IDEA. 02</h4>
			<div class="info_title"><span style="color: #c30e2e">정보</span>를 찾는 것이 아닌<br>찾아주는.</div>
			<div class="info_post">사용자의 관심은 다양합니다. SOOJLE은 사용자의 모든 행동 패턴을 학습하고, 각 사용자의 다양한 관심사에 맞게 적절한 정보를 추천합니다.</div>
		</div>
	</div>
	<!-- SOOJLE About -->
	<div id="info_cont02" class="info_cont">
		<div class="box_area_big">
			<h4 class="info_categroy" style="text-align: center;">SOOJLE</h4>
			<div class="soojle_title">수즐의 목표</div>
			<img src="./static/image/shortcut.jpg" class="soojle_icon noselect">
			<div class="soojle_info">
				<p>우리는 현재 수 많은 정보가 존재하는 빅데이터 시대에서 살고있습니다. 하지만 점점 늘어나는 정보량에 비해서 저희가 만나볼 수 있는 정보의 양은 상대적으로 제한적입니다. 그래서 저희 TEAM IML은 정보 그 자체가 주체가 되어서 사람들에게 찾아가는 시스템을 개발, 서비스를 시작하였습니다.</p>
				<br>
				<p>SOOJLE 시스템은 각 세종인들이 관심을 가질만한 정보에 초점을 두고 있습니다. SOOJLE은 세종인들이 관심을 가지는 모든 지표를 분석하여 세종대학교만의 트렌드를 추측합니다. 그리고 추측한 분석데이터를 기반으로 다시 세종인들에게 정보를 추천합니다. 저희 TEAM IML은 모든 세종대학교 구성원들이 필요한 정보를 보다 쉽게 찾을 수 있으면 바랍니다.</p>
			</div>
		</div>
	</div>
	<!-- SOOJLE History -->
	<div id="info_cont03" class="info_cont">
		<div class="box_area_big">
			<h4 class="info_categroy blackFont">걸어온길</h4>
			<div class="info_post">더 나은 SOOJLE 서비스가 되기 위해 발전해나가는 길입니다.</div>
			<div class="timeline">
				<div class="timelineEvent">
					<div class="timelineEvent_Year">2020</div>
					<div class="timelineEvent_Inbox">
						<span class="timelineEvent_Month">02</span>
						<div class="timelineEvent_Post">SOOJLE 서비스 시작</div>
					</div>
				</div>
				<div class="timelineEvent">
					<div class="timelineEvent_Year">2019</div>
					<div class="timelineEvent_Inbox">
						<span class="timelineEvent_Month">08</span>
						<div class="timelineEvent_Post">SOOJLE AI 도입</div>
					</div>
					<div class="timelineEvent_Inbox">
						<span class="timelineEvent_Month">01</span>
						<div class="timelineEvent_Post">TEAM IML 결성</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- SOOJLE CI -->
	<div id="info_cont04" class="info_cont">
		<div class="box_area_big">
			<h4 class="info_categroy blackFont">SOOJLE CI</h4>
			<img src="./static/image/logoVariation.png" class="CI_img noselect">
			<div class="CI_info">
				<p class="blackFont" style="font-size: 18px;">'정보의 처음과 끝을 지정해 그 공간에 내가 들어가다.'</p><br>
				<p>저희 SOOJLE팀은 사용자가 원하는 정보를 빠르고 쉽게 접근할 수 있도록 많은 고민을 해왔으며 이에 따라서 시스템을 만들었습니다. 이뿐만 아니라 사용자가 직접적으로 만나볼 수 있는 SOOJLE CI는 이러한 의미에 가독성이 좋게 가장 대비되는 하양과 검정 컬러를 더하여 정보를 보다 쉽게 인지할 수 있도록 디자인되었습니다.</p>
			</div>
			<div id="CI_AI" class="CI_download">AI 다운로드
			<i class="far fa-arrow-alt-circle-down donwload_icon"></i></div>
			<div id="CI_PNG" class="CI_download">PNG 다운로드
			<i class="far fa-arrow-alt-circle-down donwload_icon"></i></div>
		</div>
	</div>
	<!-- SOOJLE Contact -->
	<div id="info_cont05" class="info_cont">
		<div class="box_area_big">
			<h4 class="info_categroy blackFont">문의</h4>
			<div class="info_post">피드백 보내기 또는 <span style="color: black; font-weight: bold;">shin10256@gmail.com</span> 으로 문의해주시길 바랍니다.</div>
			<div id="GoFeedback" class="CI_download feedback_btn">피드백 보내기
			<i class="far fa-comment donwload_icon"></i></div>
		</div>
	</div>
	<!-- SOOJLE Footer -->
	<div class="SJ_board_footer" style="margin-top: 100px;">
		<div class="SJ_footer_background"></div>
		<div class="SJ_footer_guideline">
			<img src="/static/image/SOOJLE_LOGO_BIG_BLACK.png" class="SJ_footer_item pointer noselect" onclick="Go_home();">
			<div class="SJ_footer_item pointer" onclick="Go_introduce()">소개</div>
			<div class="SJ_footer_item pointer" onclick="Go_programmer()">개발자</div>
			<!--<div class="SJ_footer_item pointer" onclick="Go_advertisement()">광고</div>-->
			<div class="SJ_footer_item pointer" onclick="Go_privacy()">개인정보처리방침</div>
			<div class="SJ_footer_item pointer" onclick="Go_license()">라이센스</div>
			<div class="SJ_footer_item noselect">©2019 TEAM IML</div>
		</div>
	</div>
</body>

<!-- Test Host JS -->
<script src="/static/js/host.js"></script>
<!-- JQuery JS -->
<script src="/static/js/jquery/jquery.min.js"></script>
<script src="/static/js/jquery/jquery.ajax-cross-origin.min.js"></script>
<!-- Animation JS -->
<script src="/static/js/wow/wow.min.js"></script>
<script>new WOW().init();</script>
<!-- Snackbar JS -->
<script src="/static/js/snackbar.js"></script>
<!-- Ajax JS -->
<script src="/static/js/ajax.js"></script>
<!-- Custom JS -->
<script src="/static/js/etc.js"></script>
<script src="/static/js/footer.js"></script>
</html>