<!DOCTYPE html>
<html>
<head>
	<title>SOOJLE</title>
	<meta name="author" content="Team IML">
	<meta name="keywords" content="세종,세종대학교,세종정보,세종검색,세종커뮤니티">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
	<meta property="og:title" content="SOOJLE TEAM">
	<meta property="og:description" content="SOOJLE TEAM 개발자 소개">
	<meta property="og:image" content="/static/image/shortcut_black_mobile.png">
	<!-- 모바일 브라우저 상태바 컬러 -->
    <meta name="theme-color" content="#000">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <!-- 모바일 전체화면 가능 -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
	<!-- shortcut 아이콘 -->
	<link rel="icon" type="image/png" href="/static/image/shortcut_mobile.png">
	<link rel="apple-touch-icon-precomposed" type="image/png" href="/static/image/shortcut.png">
	<!-- 아이콘 -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
	<!-- Animation CSS -->
	<link href="/static/css/animation/animate.css" rel="stylesheet">
	<!-- Custom CSS -->
	<link href="/static/css/main.css" rel="stylesheet">
	<link href="/static/css/etc.css" rel="stylesheet">
	<link href="/static/css/etc_m.css" rel="stylesheet">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.js" integrity="sha256-qSIshlknROr4J8GMHRlW3fGKrPki733tLq+qeMCR05Q=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js" integrity="sha256-xKeoJ50pzbUGkpQxDYHD7o7hxe0LaOGeguUidbq6vis=" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.css" integrity="sha256-IvM9nJf/b5l2RoebiFno92E5ONttVyaEEsdemDC6iQA=" crossorigin="anonymous" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.js" integrity="sha256-arMsf+3JJK2LoTGqxfnuJPFTU4hAK57MtIPdFpiHXOU=" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" integrity="sha256-aa0xaJgmK/X74WM224KMQeNQC2xYKwlAt08oZqjeF0E=" crossorigin="anonymous" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" integrity="sha256-Uv9BNBucvCPipKQ2NS9wYpJmi8DTOEfTA/nH2aoJALw=" crossorigin="anonymous"></script>
</head>
<body>
	<div class="header_black">
		<img src="./static/image/SOOJLE_LOGO_BIG_BLACK.png" id="header_img" class="header_img pointer">
	</div>
	<!-- Developer Info -->
	<div class="d_cont">
		<div class="d_title_cont noselect">
			<h4 class="info_categroy">개발자 소개</h4>
			<span>#SOOJLE MAKER_</span>
			<span id="d_title_cursor" class="d_title_cursor">|</span>
		</div>
		<div class="d_title_info">SOOJLE을 제작하는 개발자들입니다.</div>
	</div>
	<div class="d_cont noselect">
		<div class="profile">
			<div class="p_start">&#60;IML&#62;</div>
			<div class="p_end">&#60;/IML&#62;</div>
			<img src="./static/image/iml.png" class="profile_img">
			<div class="profile_cont">
				<div class="profile_name">#IML</div>
				<div class="profile_info">SOOJLE Developer</div>
				<div class="profile_info">
					<span style="font-weight: bold;">Git</span> : <a href="https://github.com/iml1111" target="_blank">https://github.com/iml1111</a>
					<br>
					<span style="font-weight: bold;">Blog</span> : <a href="https://blog.naver.com/shino1025" target="_blank">https://blog.naver.com/shino1025</a>
				</div>
			</div>
		</div>
		<div class="profile">
			<div class="p_start">&#60;837477&#62;</div>
			<div class="p_end">&#60;/837477&#62;</div>
			<img src="./static/image/837477.png" class="profile_img">
			<div class="profile_cont">
				<div class="profile_name">#837477</div>
				<div class="profile_info">SOOJLE Developer</div>
				<div class="profile_info">
					<span style="font-weight: bold;">Git</span> : <a href="https://github.com/837477" target="_blank">https://github.com/837477</a>
					<br>
					<span style="font-weight: bold;">Blog</span> : <a href="https://837477.tistory.com/" target="_blank">https://837477.tistory.com/</a>
				</div>
			</div>
		</div>
		<div class="profile">
			<div class="p_start">&#60;NB&#62;</div>
			<div class="p_end">&#60;/NB&#62;</div>
			<img src="./static/image/NB.png" class="profile_img">
			<div class="profile_cont">
				<div class="profile_name">#NB</div>
				<div class="profile_info">SOOJLE Developer</div>
				<div class="profile_info">
					<span style="font-weight: bold;">Git</span> : <a href="https://github.com/altmshfkgudtjr" target="_blank">https://github.com/altmshfkgudtjr</a>
					<br>
					<span style="font-weight: bold;">Blog</span> : <a href="https://blog.naver.com/altmshfkgudtjr" target="_blank">https://blog.naver.com/altmshfkgudtjr</a>
				</div>
			</div>
		</div>
	</div>
	<!-- SOOJLE Footer -->
	<div class="SJ_board_footer" style="margin-top: 100px;">
		<div class="SJ_footer_background"></div>
		<div class="SJ_footer_guideline">
			<img src="/static/image/SOOJLE_LOGO_BIG_BLACK.png" class="SJ_footer_item pointer noselect" onclick="Go_home();">
			<div class="SJ_footer_item pointer" onclick="Go_introduce()">소개</div>
			<div class="SJ_footer_item pointer" onclick="Go_programmer()">개발자</div>
			<!--<div class="SJ_footer_item pointer" onclick="Go_advertisement()">광고</div>-->
			<div class="SJ_footer_item pointer" onclick="Go_privacy()">개인정보처리방침</div>
			<div class="SJ_footer_item pointer" onclick="Go_license()">라이센스</div>
			<div class="SJ_footer_item noselect">©2019 TEAM IML</div>
		</div>
	</div>
</body>

<!-- Test Host JS -->
<script src="/static/js/host.js"></script>
<!-- JQuery JS -->
<script src="/static/js/jquery/jquery.min.js"></script>
<script src="/static/js/jquery/jquery.ajax-cross-origin.min.js"></script>
<!-- Animation JS -->
<script src="/static/js/wow/wow.min.js"></script>
<script>new WOW().init();</script>
<!-- Snackbar JS -->
<script src="/static/js/snackbar.js"></script>
<!-- Ajax JS -->
<script src="/static/js/ajax.js"></script>
<!-- Custom JS -->
<script src="/static/js/etc.js"></script>
<script src="/static/js/footer.js"></script>
</html>