<!DOCTYPE html>
<html>
<head>
	<title>SOOJLE 점검</title>
	<meta name="naver-site-verification" content="d88fc9877aff6f15e06eeaadbd48b255ff03c7ab" />
	<meta name="google-site-verification" content="7fw4xZ6FlO_LXiuwN90isaWHvMgUYbGWix4zUIbdgyg" />
	<meta naem="description" content="수즐 점검 중입니다.">
	<meta name="author" content="Team IML">
	<meta name="keywords" content="세종,세종대학교,세종정보,세종검색,세종커뮤니티, 수즐, soojle">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
	<!--Open Graph tag-->
	<meta property="og:title" content="SOOJLE">
	<meta property="og:description" content="세종대학교의 정보를 체계화하여 모두가 편리하게 이용할 수 있도록 합니다.">
	<meta property="og:image" content="/static/image/shortcut_mobile.png">
	<!-- 모바일 브라우저 상태바 컬러 -->
    <meta name="theme-color" content="#fff">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <!-- 모바일 전체화면 가능 -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
	<!-- shortcut 아이콘 -->
	<link rel="icon" type="image/png" href="/static/image/shortcut_mobile.png">
	<link rel="apple-touch-icon-precomposed" type="image/png" href="/static/image/shortcut.jpg">
	<!-- 아이콘 -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
	<!-- Main CSS -->
	<link rel="stylesheet" href="/static/css/inspection.css">
</head>
<body>
	<div class="logo_cont noselect">
		<img src="/static/image/SOOJLE_LOGO_BIG_mobile.png" class="logo_img">
	</div>
	<img class="error_img" src="/static/image/server_inspection.png">
	<div class="error_comment noselect">SOOJLE을 수리 중 입니다.</div>
	<div class="info_cont">
		<div class="info_type_cont noselect">
			<svg class="info_icon" xmlns="http://www.w3.org/2000/svg" width="109" height="109" viewBox="0 0 109 109">
			<g id="그룹_17" data-name="그룹 17" transform="translate(-3044 2292)">
				<g id="타원_16" data-name="타원 16" transform="translate(3044 -2292)" fill="none" stroke="#c30e2e" stroke-width="8">
					<circle cx="54.5" cy="54.5" r="54.5" stroke="none"/>
					<circle cx="54.5" cy="54.5" r="50.5" fill="none"/>
				</g>
				<g id="그룹_16" data-name="그룹 16">
					<g id="타원_17" data-name="타원 17" transform="translate(3092 -2270)" fill="#c30e2e" stroke="#c30e2e" stroke-width="1">
						<circle cx="6" cy="6" r="6" stroke="none"/>
						<circle cx="6" cy="6" r="5.5" fill="none"/>
					</g>
					<line id="선_16" data-name="선 16" y2="41" transform="translate(3098.5 -2245.5)" fill="none" stroke="#c30e2e" stroke-linecap="round" stroke-width="10"/>
				</g>
			</g>
			</svg>
			<span class="info_type">임시점검</span>
		</div>
		<div class="info_title_cont">
			<span style="font-weight: bold;" class="noselect">종류 : </span>
			<span id="inspect_type" class="info_text">긴급 서버 점검</span>
		</div>
		<div class="info_title_cont" class="noselect">
			<span style="font-weight: bold;">기간 : </span>
			<span id="inspect_date_1" class="info_date">20.xx.xx 00:00</span>
			<span class="info_date"> ~ </span>
			<span id="inspect_date_2" class="info_date">20.xx.xx 12:00</span>
		</div>
		<div class="info_title_cont" class="noselect">
			<span style="font-weight: bold;" class="noselect">내용 : </span>
			<span id="inspect_type" class="info_text">서버 임시 점검 중입니다.</span>
		</div>
	</div>
</body>
<!-- Test Host JS -->
<script src="/static/js/host.js"></script>
<!-- JQuery JS -->
<script src="/static/js/jquery/jquery.min.js"></script>
<script src="/static/js/jquery/jquery.ajax-cross-origin.min.js"></script>
<!-- Ajax JS -->
<script src="/static/js/ajax.js"></script>
<!-- Main JS -->
<script src="/static/js/inspection.js"></script>
</html>