<!DOCTYPE html>
<html lang="ko">
<head>
	<title>SOOJLE 테스트 뉴스피드</title>
	<meta name="keywords" content="테스트 뉴스피드">

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
	
	<!--textarea editor-->
	<link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">


</head>

<body>
	<button onclick="newsfeed()">뉴스피드 출력!</button>
	<input id="search_box" type="text">
	<button onclick="search_()">검색이다! (3개 분할 API 버전)</button>
	<button onclick="search_all()">검색이다! (통합 API 버전)</button>
	<br>
	###########################
	<br>
	<input id="LDA_box" type="text" placeholder="LDA 분석용">
	<input id="FT_box" type="text" placeholder="FT 분석용">
	<button onclick="refresh_()">관심도 갱신</button>
	<div id="test_newsfeed">
		<!--여기에 생길거임 -->
	</div>
</body>

<script src="static/js/jquery/jquery.min.js"></script>
<script src="static/js/ajax.js"></script>

</html>