<!DOCTYPE html>
<html lang="ko">
<head>
	<title>SOOJLE</title>
	<meta charset="utf-8">
	<meta name="description" content="세종대학교의 정보를 체계화하여 모두가 편리하게 이용할 수 있도록 합니다.">
	<meta name="keywords" content="세종,세종대학교,세종정보,세종검색,세종커뮤니티,soojle, 수즐">
	<meta name="author" content="NB">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
	<meta property="og:title" content="SOOJLE">
	<meta property="og:description" content="세종대학교의 정보를 체계화하여 모두가 편리하게 이용할 수 있도록 합니다.">
	<meta property="og:image" content="/static/images/shortcut_mobile.png">
	<!-- 모바일 브라우저 상태바 컬러 -->
    <meta name="theme-color" content="#fff">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<!-- 홈 화면에 앱 추가 가능-->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
	<!-- favicon 아이콘 -->
	<link rel="icon" type="image/png" href="/static/images/shortcut.jpg">
	<link rel="apple-touch-icon-precomposed" type="image/png" href="/static/images/shortcut.jpg">
	<!-- Animated CSS -->
	<link rel="stylesheet" type="text/css" href="/static/css/animation/animate.css">
	<!-- Icons -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
	<!-- Custom CSS -->
	<link rel="stylesheet" type="text/css" href="/static/css/kiosk.css">
</head>
<body>
	<div id="app"></div>
</body>
<script src="/static/js/kiosk.js"></script>
</html>